
.dp{
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    right : 780px;
    top: 75px;
    box-shadow:5px;
}


h2{
margin-bottom:10px;
margin-left: 20px;
}
h4{
margin-top:none;
color:grey;
}
.h44{
margin-left: 20px;
margin-top:0px;
margin-bottom:10px;
}



h6{
margin-top:0px;
color:grey;
margin-left: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 20px;
  align-items: center;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 60%;
    padding-left: 30px;
    position: relative;
    bottom:250px;

  
}
.logo2 img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-left: 30px;
    position: relative;
    bottom:30px;

}

.logo3 img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    padding-left: 30px;
    position: relative;
    bottom:23px;
}
.experience {
  font-weight: bold;
}

.description {
  font-weight: normal;
}

.head{
font-weight:bold;
font-size:2em;

}
